/* @VARIABLES */
/* ********** */

//tipografía


//colores
$colores: (
gris: #C4C4C4,
nanranja: #F2624A,
beach: #F8F6EE,
marron: #FFE6D1,
negro: black );

//tamaños
$dispositivos: (
    smartphone: 360px,
    desktop:1366px
);

//breakpoints
$breakpoints: (
    smartphone:320px,
    desktop: 1100px
);

//márgenes
/*$margenes: (
    internos: 20px,
    navHorizontal: 10px
);*/